@use 'fonts';
@use 'normalize';
@use 'animations';

* {
  font-family: fonts.$mainFont;
}

body {
  overflow-y: scroll;
}
body, :root {
  min-height: 100%;
}

.container {
  max-width: 1800px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
}

.disabled {
  user-select: none;
  pointer-events: none;
}