@use 'normalize';
@use 'animations';

.container {
  max-width: 1400px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
}