@use 'sass:color';

@mixin hoverBackgroundColor($color) {
  background: $color;
  transition:  background-color .2s ease;

  @media (pointer: fine) {
    &:hover {
      background: color.scale($color, $lightness: -30%);
    }
  }
}